*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  background-color: #dadada;
  padding-top: 50px;
  width: 100%;
}

h1 {
  font-size: 1.8em;
  font-weight: bolder;
  line-height: 1.6;
  margin: 0;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
}

.location {
  height: 80px;
  padding-left: 5%;
  border-bottom: 0.5px solid gray;
}

.location:hover { background-color: #aaa; }

.arrow {
  display: inline-block;
  position: relative;
  top: -8px;
}

.content {
  display: inline-block;
  padding-top: 4%;
  width: 90%;
}
